.root {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  color: #000;
}

.title_color_white {
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.header__wrapper {
  width: 1170px;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.logo__wrapper {
  margin: 0 0 0 5.96px;
  padding: 3px 5px;
  background-color: #4a90e2;
  border-radius: 3px;
}

.logo__span {
}

.navbar {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  min-width: 368px;
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar__item {
}

.navbar__link {
  color: inherit;
  text-decoration: none;
}

.magnifier-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  width: 1170px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 265px 265px;
  gap: 30px;
}

.grid__card {
  position: relative;
  border-radius: 5px;
  background: linear-gradient(to top, black, transparent 50%);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.grid__card:first-of-type {
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid__img {
  border-radius: 5px;
  position: absolute;
  z-index: -1;
}

.grid__text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 30px 20px;
}

.card-tag {
  width: 62px;
  min-height: 22px;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  background-color: #4a90e2;
  border-radius: 3px;
  color: #fff;
}

.paragraph {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.paragraph_color_grey {
  color: #666666;
}
.paragraph_style_italic {
  font-style: italic;
}

.subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.wrapper {
  padding-top: 75px;
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.big-card {
  width: 770px;
  min-height: 560px;
  font-size: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  /* position: relative; */
}

.big-card__img {
  border-radius: 5px;
}

.big-card__text-container {
  width: 730px;
  min-height: 249px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: -130px;
  background-color: white;
  padding: 30px 0 40px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-widgets {
  width: 270px;
}

.articles-widget {
  min-height: 429px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles-widget__img {
  border-radius: 5px;
}

.articles-widget__btn {
  height: 50px;
  background: #232323;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
